<!DOCTYPE html>
<html>
<head>
    <title>Customer</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/customer.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background: #031428; font-family: 'Segoe UI', sans-serif">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #06203d;padding-left: 50px; padding-right: 50px">
        <a class="navbar-brand" href="#">LUXURY SHOPS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/customer/shops">Shops</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Items
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">List of all items</a>
                        <a class="dropdown-item" href="#">Catalogs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Orders
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">List of all your orders</a>
                        <a class="dropdown-item" href="#">List of orders that are waiting to delivery</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="material-icons">local_grocery_store</i></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container" style="margin-top: 50px;">
        <div class="header_with_pined_item">
            <div class="welcome_part">
                <h1 class="welcome_title">WELCOME BACK,</h1>
                <h3 class="user_name"><%= user_info[0]%> <%= user_info[1]%>!</h3>
                <lottie-player class="welcome-animation"src="https://assets6.lottiefiles.com/packages/lf20_y0prxuf0.json" background="transparent"  speed="1"  style="width: 600px; height: 600px;" loop="true" autoplay="true"></lottie-player>
            </div>
        </div>
    </div>
    <section class="section pt-5 pb-5 text-center" style="background: rgba(3,16,33,0.89); color: grey">
            <div class="section-header text-center" style="margin-bottom: 50px">
                <h2><strong style="font-family: 'Segoe UI Black',serif; color: #9a9fa9;">LUXURY SHOPS</strong> - We order you anything you want.</h2>
            </div>
            <div class="row" style="padding-right: 200px; padding-left: 200px">
                <div class="col-md-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Owl_shopping_by_mimooh.svg/655px-Owl_shopping_by_mimooh.svg.png" width="170" height="137">
                    <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">Grocery delivery and more</h4>
                    <p style="font-size:12px;">Find everything you need! From supermarkets to shops, from pharmacies to florists - if it's in your city, you can count on us to bring it to you.</p>

                </div>
                <div class="col-md-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Changing_Careers_Window_Shopping_Cartoon.svg/1104px-Changing_Careers_Window_Shopping_Cartoon.svg.png" width="170" height="137">
                    <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">Fast delivery</h4>
                    <p style="font-size:12px;">We are proud of how fast we are. Order or send anything in your city and we will pick it up and deliver it to you in a few minutes.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://dearsystems.com.cn/wp-content/uploads/2019/12/ecommerce.svg" width="170" height="137">
                    <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">Very reasonable prices</h4>
                    <p style="font-size:12px;">Visit our store and save money, because promotions are an integral part of our customers' satisfaction</p>
                </div>
            </div>

    </section>
    <section class="section pt-5 pb-5 text-center" style="background: rgb(2,10,23); color: white">
        <div class="container">
            <div class="section-header text-center">
                <h2><strong>NEW</strong> - Some shops have catalogs now.</h2>
                <p class="fs-20">The easiest way to get to your items without risking Coronavirus infection. Order from the comfort of your own home. </p>
                <span class="line"></span>
            </div>
            <div class="row border shadow-sm nbf" style="background: #0b3251">
                <div class="half-of-section">
                    <div class="first-half-text-center">
                        <h2>Special price</h2>
                        <p >Save time and energy. We have prepared special discounts from stores as well as special discounts for delivery.</p>
                        <a href="/home/customer/catalogs" class="btn btn-info btn-outline-info btn-lg">See more</a>
                    </div>
                </div>
                <div class="half-image-section" style="background-image:url('https://www.perpetuum.hr/sites/default/files/uploads/blog/slike/2017-11/webshop1.jpg');">
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="header_with_pined_item">
            <h2 class="chain_stores-title">CHAIN STORES</h2>
            <div class="chain_stores_scroll" >
                <%for(let i=0; i<chain_stores.length;i++){%>
                    <div class="category-item">
                        <a href="/home/customer/chain_store/<%=chain_stores[i].id_lanca_trgovina%>">
                            <img class="img-fluid" src="<%=chain_stores[i].path%>" alt="">
                            <h6><%=chain_stores[i].naziv_lanca_trgovina%></h6>
                        </a>
                    </div>
                <%}%>
            </div>
            <h2 class="random-title">MOST POPULAR</h2>
            <div class="scrolling-wrapper">
                <%for(let i=0; i<most_popular.length;i++){%>
                    <div class="card" style="width: 18rem;margin-right:20px; margin-bottom: 20px; background: #0b3251">
                        <img class="card-img-top" style="height: 300px; width: 255px" src="<%= most_popular[i].slike_artikla[0]%>" alt="Card image cap">
                        <div class="card-body" style="color: white">
                            <p class="card-text"><%=most_popular[i].naziv_artikla%></p>
                            <p class="card-text" style="color: grey; line-height: 1.5em; height: 3em; overflow: hidden; text-transform: capitalize"><%=most_popular[i].opis_artikla%></p>
                            <p class="price"><%=most_popular[i].cijena_artikla%> KM</p>
                            <p><button class="btn btn-info" style="margin-bottom: -10px">Add to Cart</button></p>
                        </div>
                    </div>
                <%}%>
            </div>
            <h2 class="random-title">MAYBE YOU WILL BE INTEREST FOR</h2>
            <div class="scrolling-wrapper">
                <%for(let i=0; i<random.length;i++){%>
                <div class="card" style="width: 18rem;margin-right:20px; margin-bottom: 20px; background: #0b3251">
                    <img class="card-img-top" style="height: 300px; width: 255px" src="<%= random[i].slike_artikla[0]%>" alt="Card image cap">
                    <div class="card-body" style="color: white">
                        <p class="card-text"><%=random[i].naziv_artikla%></p>
                        <p class="card-text" style="color: grey; line-height: 1.5em; height: 3em; overflow: hidden; text-transform: capitalize"><%=random[i].opis_artikla%></p>
                        <p class="price"><%=random[i].cijena_artikla%> KM</p>
                        <p><button class="btn btn-info" style="margin-bottom: -10px">Add to Cart</button></p>
                    </div>
                </div>
                <%}%>
            </div>
            <h2 class="interest-title">YOU INTEREST FOR</h2>
            <div class="scrolling-wrapper">
                <%for(let i=0; i<items_from_interest.length;i++){%>
                <div class="card" style="width: 18rem;margin-right:20px; margin-bottom: 20px; background: #0b3251;">
                    <img class="card-img-top" style="height: 300px; width: 255px" src="<%= items_from_interest[i].slike_artikla[0]%>" alt="Card image cap">
                    <div class="card-body" style="color: white">
                        <p class="card-text"><%=items_from_interest[i].naziv_artikla%></p>
                        <p class="card-text" style="color: grey; line-height: 1.5em; height: 3em; overflow: hidden; text-transform: capitalize"><%=items_from_interest[i].opis_artikla%></p>
                        <p class="price"><%=items_from_interest[i].cijena_artikla%> KM</p>
                        <p><button class="btn btn-info" style="margin-bottom: -10px">Add to Cart</button></p>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</body>
<footer>
    <section class="section pt-5 pb-5 text-center" style="background: rgba(3,16,33,0.89); color: grey">
        <div class="row" style="padding-right: 200px; padding-left: 200px">
            <div class="col-md-4">
                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">LUXURY SHOPS</h4>
                <p style="font-size:12px; margin-top: 20px;">If you have any suggestions for the advancement of our branch, or if you want to leave us some comments, feel free to do so.</p>

            </div>
            <div class="col-md-4">

                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">CONTACT INFORMATIONS</h4>
                <p style="margin-top: 20px;">Email Us at<br>
                    <a href="mailto:zendev2021@gmail.com" style="text-decoration: none; color: #9a9fa9; font-family: 'Segoe UI Black',serif; text-align: center">zendev2021@gmail.com</a>
                </p>
            </div>
            <div class="col-md-4">

                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">NEWS</h4>
                <div style="margin-top: 20px"></div>
                <form class="my-2 my-lg-1" style="align-items: center;">
                    <input class="form-control mr-md-4" type="email" placeholder="We will send you e-mail for special prices" aria-label="Search">
                    <br><button class="btn btn-outline-info my-2 my-sm-0" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>

    </section>
</footer>
</html>
