<!DOCTYPE html>
<html>
<head>
    <title><%= info[0].naziv_trgovine%></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/customer.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #06203d;padding-left: 50px; padding-right: 50px">
    <a class="navbar-brand" href="#">LUXURY SHOPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shops</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">List of all items</a>
                    <a class="dropdown-item" href="#">Catalogs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/home/customer/all_items">List of all your orders</a>
                    <a class="dropdown-item" href="#">List of orders that are waiting to delivery</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="material-icons">local_grocery_store</i></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<section class="item-detailed-banner">

    <div class="text-center overflow">

        <img class="img-fluid cover closed " src="<%= cover[0].path%>">

    </div>
    <div class="item-overlay"></div>

    <div class="item-detailed-header">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-md-8">
                    <div class="item-detailed-header-left">
                        <h1 class="text-white title-single-item"><%= info[0].naziv_trgovine%></h1>
                        <div class="row" style="margin-left: 3px; margin-top: 20px">
                            <div class="btn" style=" background: <%= info[0].boja_kategorije%>; margin-right: 10px; cursor: auto">
                                <i class="material-icons" style="margin-top: 5px"><%= info[0].logo_kategorije%></i> <%= info[0].naziv_kategorije%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pined-item-picture">
                    <img src=" <%= info[0].path%>" class="card-img-top" style="width: 150px;
    height: 150px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sticky-top item-dedicated-nav border-top-0 shadow-sm " style="background: rgba(3,16,33,0.89);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item" >
                        <a class="nav-link" style="color: white"  href="/home/customer/single_shop/<%= info[0].id_trgovine%>/items">Items 🧺</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="/home/customer/single_shop/<%= info[0].id_trgovine%>/categories">Items categories 🔖</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="/home/customer/single_shop/<%= info[0].id_trgovine%>/catalogs">Catalogs 🗒</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-sm-1" style="margin-left: 90px"></div>
    <div class="col-md-4">
        <div class="bg-white rounded border shadow-sm mb-4">
            <div class="p-3 border-bottom">
                <% if (items.length !== 0){%>
                    <% for(let i=0; i<items.length;i++){%>
                    <div class="item" style="margin-bottom: 20px;">
                        <div class="list-card h-100 rounded overflow-hidden position-relative shadow-sm" style="background: #0b3251; color: white">
                            <div class="list-card-image">
                                <div class="item-logo" style="background-image: url(<%=images[i].slike_artikla[0]%>);"></div>
                                <a href="/home/customer/single_item/<%=items[i].id_artikla%>">
                                    <div class="background-for-card" style="background-image: url(<%=items[i].path%>);"></div>
                                </a>
                            </div>
                            <div class="p-3 position-relative">
                                <div class="list-card-body">
                                    <h6 class="mb-1">
                                        <a href="/home/customer/single_item/<%=images[i].id_artikla%>"  style="color: white">
                                            <%=items[i].naziv_artikla%>
                                        </a>

                                    </h6>
                                </div>
                                <form>
                                    <button class="btn btn-outline-info" style="margin-top: 10px; margin-left: 370px;" title="Add to cart">
                                        <i class="material-icons">shopping_basket</i>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <%}%>
                <%}else{%>
                        <div>This shop doesn't have any item now. Please come back later.</div>
                    <%}%>

            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <section class="section pt-5 pb-5 text-center" style="background: rgba(3,16,33,0.89); color: grey">
        <div class="row" style="padding-right: 200px; padding-left: 200px">
            <div class="col-md-4">
                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">LUXURY SHOPS</h4>
                <p style="font-size:12px; margin-top: 20px;">If you have any suggestions for the advancement of our branch, or if you want to leave us some comments, feel free to do so.</p>

            </div>
            <div class="col-md-4">

                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">CONTACT INFORMATIONS</h4>
                <p style="margin-top: 20px;">Email Us at<br>
                    <a href="mailto:zendev2021@gmail.com" style="text-decoration: none; color: #9a9fa9; font-family: 'Segoe UI Black',serif; text-align: center">zendev2021@gmail.com</a>
                </p>
            </div>
            <div class="col-md-4">

                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">NEWS</h4>
                <div style="margin-top: 20px"></div>
                <form class="my-2 my-lg-1" style="align-items: center;">
                    <input class="form-control mr-md-4" type="email" placeholder="We will send you e-mail for special prices" aria-label="Search">
                    <br><button class="btn btn-outline-info my-2 my-sm-0" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>
</footer>
</html>