<!DOCTYPE html>
<html>
<head>
    <title><%= single_item[0].naziv_artikla%></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/customer.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #06203d;padding-left: 50px; padding-right: 50px">
    <a class="navbar-brand" href="#">LUXURY SHOPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shops</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/home/customer/all_items">List of all items</a>
                    <a class="dropdown-item" href="#">Catalogs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/home/customer/all_orders">List of all your orders</a>
                    <a class="dropdown-item" href="/home/customer/all_delivery_orders">List of orders that are waiting to delivery</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="material-icons">local_grocery_store</i></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<section class="item-detailed-banner">

    <div class="text-center overflow">

        <img class="img-fluid cover closed " src="<%= cover_image[0].path%>">

    </div>
    <div class="item-overlay"></div>

    <div class="item-detailed-header">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-md-8">
                    <div class="item-detailed-header-left">
                        <h1 class="text-white title-single-item"><%= single_item[0].naziv_artikla%></h1>
                        <div class="row" style="margin-left: 3px; margin-top: 20px">
                            <% for(let i=0; i<single_item[0].boje_taga.length;i++){%>
                                <div class="btn" style=" background: <%= single_item[0].boje_taga[i] %>; margin-right: 10px; cursor: auto">
                                    # <%= single_item[0].nazivi_taga[i]%>
                                </div>
                            <%}%>
                        </div>
                        <div class="btn btn-outline-info" style="margin-right: 10px; margin-top: 20px; margin-left:5px;font-family: 'Segoe UI Semibold',serif">
                            ADD TO CART
                        </div>
                    </div>
                </div>
                <div class="card pined-item-picture">
                    <img src=" <%= single_item[0].slike_artikla[0]%>" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>


</section>
<section class="sticky-top item-dedicated-nav border-top-0 shadow-sm " style="background: rgba(3,16,33,0.89);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: grey" href="/home/customer/single_item/<%= single_item[0].id_artikla%>/description">Description 📑</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: grey" href="/home/customer/single_item/<%= single_item[0].id_artikla%>/content">Item content 📜</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="/home/customer/single_item/<%= single_item[0].id_artikla%>/shops">Shops 🏪</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: grey" href="/home/customer/single_item/<%= single_item[0].id_artikla%>/images">Images 📸️</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-sm-4" style="margin-left: 20px"></div>
    <div class="col-md-4">
        <div class="bg-white rounded border shadow-sm mb-4">
            <div class="p-3 border-bottom">
                <% for(let i=0; i<cover_images_shops.length;i++){%>
                    <div class="card mb-3" style="max-width: 540px;background: #0b3251; color: white">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="<%=cover_images_shops[i].pozadina%>" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= cover_images_shops[i].naziv_trgovine%></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <section class="section pt-5 pb-5 text-center" style="background: rgba(3,16,33,0.89); color: grey">
        <div class="row" style="padding-right: 200px; padding-left: 200px">
            <div class="col-md-4">
                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">LUXURY SHOPS</h4>
                <p style="font-size:12px; margin-top: 20px;">If you have any suggestions for the advancement of our branch, or if you want to leave us some comments, feel free to do so.</p>

            </div>
            <div class="col-md-4">

                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">CONTACT INFORMATIONS</h4>
                <p style="margin-top: 20px;">Email Us at<br>
                    <a href="mailto:zendev2021@gmail.com" style="text-decoration: none; color: #9a9fa9; font-family: 'Segoe UI Black',serif; text-align: center">zendev2021@gmail.com</a>
                </p>
            </div>
            <div class="col-md-4">

                <h4 style="color:#9a9fa9; font-family: 'Segoe UI Black',serif">NEWS</h4>
                <div style="margin-top: 20px"></div>
                <form class="my-2 my-lg-1" style="align-items: center;">
                    <input class="form-control mr-md-4" type="email" placeholder="We will send you e-mail for special prices" aria-label="Search">
                    <br><button class="btn btn-outline-info my-2 my-sm-0" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>

    </section>
</footer>
</html>